.imageviewer {
    width: 100%;
    height: 100%;
    background-color: #ee99aa;
}
.imageviewer .topbar {
    background-color: #2d2d2d;
    width: 100%;
    height: 20px;
}
.imageviewer .sidebar {
    background-color: #333333;
    width: 30%;
    height: 100%;
    float: left;
}
.imageviewer .main {
    background-color: #e5e5e5;
    height: 100%;
    width: 70%;
    float: left;
}
.menubtn {
    background-color: #2d2d2d;
    border: none;
    outline: none;
    color: #e5e5e5;
    height: 100%;
    font-size: 15px;
    padding: 0px;
    margin: 0px;
    padding-left: 2px;
    padding-right: 2px;
}
.menubtn:hover {
    color: #ffffff;
}
.menu {
    position: fixed;
    background-color: #333333;
    color: #e5e5e5;
    top: 0px;
    left: 0px;
}
@media(width < 400px) {
    
}